.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%;
    margin-left:30%;
    margin-top:6%;/* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close , .done{
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.done{
  float:right;
}

.close:hover,
.close:focus ,.done:hover, .done:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table{
  width:100%;
  margin-top: 5%;
}
th,td{
  border: 1px solid #dddddd;
  padding: 1%;
}
