/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
/*  overflow: scroll; */
 overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;


}

#wrapper.toggled {
  padding-left: 250px;

}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  /*background: #000;*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background:rgba(4, 40, 68, 0.85);

}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;

}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
/*  background:rgba(4, 40, 68, 0.85);*/
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;

}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999999;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}



.header h1{
  display: inline-block;
  font-size: 200%;
}

.logout{
  float:right;
  font-size: 150%;
}

.programs{
  width:35%;
  display: inline-block;
}

.updateForm{
  float:right;
}

.hide{
  display: none;
}

#programInput{
  width:100%;
}

#unorderedList li{
  padding: 3%;
}

.fa{
  float: right;
  font-size: 110%;
}

#programDivs{
  width: 50%;
  display: inline-block;
}

.programDivs{
  width: 25%;
  height: 40%;
  margin:2%;
  display: inline-block;
  padding: 3%;
  background: rgba(4, 40, 68, 0.4);
  color: #fff;
  cursor: pointer;
}

.vl {
    border-left: 2px solid  #32646a ;
    height: 70vh;
    display: inline-block;
    float: right;
}

.courseDetails{
  width:40%;
  display: inline-block;
  float: right;
  margin:2%;
}

.yearBox{
  width:20%;
  margin: 2%;
  display: inline-block;
  border-radius: 3px;
  padding-left: 2%;
  padding-top: 5%;
  padding-bottom: 5%;

}

span{
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 5%;
}
table{
  width:80%;
  margin-top: 5%;
}
th,td{
  border: 1px solid #dddddd;
  padding: 3%;
}

.btn{
  margin-top: 10%;
}
/*
.col{
  background: blue;
}
*/

form{
  margin-top: 5%;

}

.activeSem{
  background:    #5f5c5d  ;
  color:   #def6f7  ;
}

caption{
  caption-side: top;
}

.eventDivs{
  width: 25%;
  height: 40%;
  margin:2%;
  display: inline-block;
  padding: 3%;
  background: rgba( 9, 115, 97, 0.5);
  color: #fff;
  cursor: pointer;
}

.timetableDash{
  width:25%;

  display: inline-block;
  margin: 2%;
background: rgba(   57, 180, 108 ,0.7);

}

.timetableButton{
  background: rgba(4, 40, 68, 0.85);
  color: #f4f6f5;
}
